<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <queries>
        <package android:name="com.google.android.gms" />
        <package android:name="com.android.vending" />
        <intent>
            <action android:name="com.google.android.gms.auth.api.signin.SERVICE" />
        </intent>
        <intent>
            <action android:name="com.google.android.gms.common.api.DiscoveryService" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestMaster"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activities.AboutActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".activities.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ReportedQuestion"
            android:exported="false" />
        <activity
            android:name=".activities.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SavedQuestions"
            android:exported="false" />
        <activity
            android:name=".activities.HostedTest"
            android:exported="false" />
        <activity
            android:name=".activities.Analysis_Exam"
            android:exported="false" />
        <activity
            android:name=".activities.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SearchExamId"
            android:exported="false" />
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Attempt_Exam"
            android:exported="false" />
        <activity
            android:name=".activities.CreateMcqTest"
            android:exported="false" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true" />
        <activity
            android:name=".activities.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SubscribersActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PostAnnouncementActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AnnouncementDetailsActivity"
            android:exported="false" />
    </application>

</manifest>